@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/buscar.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#contenedorIndex {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh 40vh 65vh 65vh 30vh 10vh;
  grid-template-areas: "nav" "header" "main" "section" "mapa" "footer"; }

@media (min-width: 1024px) {
  #contenedorIndex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 12vh 50vh 90vh 30vh 10vh;
    grid-template-areas: "nav nav" "header header" "main section" "mapa mapa" "footer footer"; } }

.nav {
  grid-area: nav;
  top: 0;
  position: sticky;
  background: linear-gradient(to top, #a9d9d0, #024959);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  display: flex; }
  .nav .logo {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start; }
    .nav .logo:hover {
      transform: scale(1.2);
      transition: all 1s; }
  .nav ul {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    align-items: center;
    list-style: none;
    box-sizing: border-box; }
    .nav ul li a {
      text-decoration: none;
      margin-right: 1rem;
      color: white;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      box-sizing: border-box; }
      @media (min-width: 768px) {
        .nav ul li a {
          font-size: 2rem; } }
      .nav ul li a:hover {
        color: gray; }

header {
  grid-area: header;
  margin-top: 0.5rem;
  overflow: hidden; }

main {
  grid-area: main;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  align-content: center; }
  main .parrafo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    background-color: #a9d9d0;
    border-radius: 8px;
    margin: 1rem;
    padding: 3rem;
    overflow: auto; }
    main .parrafo:hover {
      transform: rotateX(20deg);
      transition: transform 2s; }

#contenedorVideo {
  grid-area: section;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 1rem; }
  #contenedorVideo:hover {
    transform: rotateX(20deg);
    transition: transform 2s; }

#mapa {
  grid-area: mapa;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2rem; }
  #mapa:hover {
    transform: scale(1.1);
    transition: all 2s; }

footer {
  background: linear-gradient(to bottom, #024959, #0d0d0d);
  grid-area: footer;
  overflow: auto; }
  footer .pie {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .pie .iconosRedes img {
      height: 5rem; }
      footer .pie .iconosRedes img:hover {
        transform: scale(1.2);
        transition: all 1s; }
