.mapa{
	iframe{
		@extend .scale-hover
	}
};

.container{
	article{
		@extend .rotateY;
		h2{
			@include texto($fontThird,$textLg,black);
		}
		p{
			@include texto($fontMain,1.5rem,black);
			}
		}
}

.obras-sociales{
	height: 80vh;
	img{
		@extend .rotateY;
	}
}

main{
	.parrafoNosotros{
		@extend .rotateY;
		h1{
			@include texto($fontThird,3rem,black);
			}
		p{
			@include texto($fontMain,1.5rem,black);
			}
		}
	
}

form{
		@extend .rotateY;
		@include texto($fontThird,2rem,black);
}


.bg-gris{
	background-color: map-get($map:$paleta,$key:'gris');
}

.height{
	height: 30vh;
}




