.mapa{
	iframe{
		@extend .scale-hover
	}
};

.contenedor{
	.pI{
		padding: 3rem;
		h1{
			@include texto($fontThird,$textLg,white);
		}
		p{
			@include texto($fontMain,1.5rem,white);
			}
		@extend .rotateY;
		}
	.video{
		@extend .rotateY;
	}
}

.obras-sociales{
	height: 90vh;
	img{
		@extend .rotateY;
	}
}

.parrafoNosotros{
		padding:3rem;
		h2{
			@include texto($fontThird,3rem,white);
			}
		p{
			@include texto($fontMain,1.5rem,white);
			}
		}

.pfNos{
	@extend .rotateY;
}
	

form{
		@extend .rotateY;
		@include texto($fontThird,2rem,white);
}


.bg-gris{
	background-color: map-get($map:$paleta,$key:'gris');
}

.height{
	height: 30vh;
}

.boton{
	font-size: 1.8rem;
}

.form-select{
	@extend .boton
}


