@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Patrick+Hand&family=Roboto&display=swap');

$fontMain: 'Roboto', sans-serif;
$fontSecondary:'Patrick Hand', cursive;

$textXl:4rem;
$textLg:3rem;
$textMd:2rem;
$textSm:1rem;