footer{
	background: linear-gradient(to bottom,map-get($map:$paleta,$key:'celeste'), map-get($map:$paleta,$key:'negro'));
	height: 10vh;}

	.pie{
		display: flex;
		align-items: center;
		justify-content: center;

		.iconosRedes{
		img{
		height: 3.5rem;
		@extend .scale-hover;
			}
		}
	}
