nav{
		background: linear-gradient(to top, map-get($map:$paleta,$key:'celeste'), map-get($map:$paleta,$key:'azul'));


		.scale-hover{
			@extend .scale-hover
		}

		.logo{
			width: 70px;
			@media(min-width: 280px) and (max-width: 400px){
			.logo{
			width: 50px ;
				}
			}
		}
	ul li a{
		@include texto($fontMain,1.5rem,white);
		margin-right: 1rem;
	}


}
